html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    
    ::after,
    ::before{
        box-sizing: border-box;
    }
    
    color: #444150;
}

li,
li *{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444150;
}

*::after,
*::backdrop{
    box-sizing: border-box;
}