aside {
   position: sticky;
   top: 0;
   width: 280px;
   height: 100vh;
   background-color: white;
   border-right: 1px solid #e5e7eb;
   overflow-y: auto;
   overflow-x: hidden;
   z-index: 1;
}

@media (max-width:1200px){
   aside{
   position: fixed;
   transform: translateX(-265px);
   transition: transform 0.4s;
   box-shadow: 2px 0 20px rgba(0, 0, 0, 0.262);
   }

   .sidebar-container:hover aside {
   position: fixed;
   top: 0;
   left: 0;
   transform: translateX(0);
}
}

.vx-fs-cus{
   font-size: 0.8em;
}
.vx-fs-cus-1{
   font-size: 1.3em;
}


article {
   width: 100%;
   padding:2% 5%;
}

section{
   width: 100%;
   border: 1px solid #e6e6e8;
   border-radius: 7px;
}

.navbar{
   max-height: auto;
   position: sticky;
   top:10px;
   background-color: white;
}


@media (max-width:600px){
   .navbar *{
      margin-top: 2%;
   }
}

.navbar .input-box{
   padding: 0.25 1rem;
}

.custom-clr-yellow{
   background-color: #fff0e1;
}

.form-check-input{
   transform: scale(0.7);
   border-color: red;
   outline: 1px solid transparent;
}
.form-check-input:checked{
   background-color: #7368f0;
   border-color: #7368f0; 
   outline: 1px solid transparent;
}

.deactivate-btn{
    color: white;
    background-color: #e64449;
    padding: 0.5em 2em;
}

.progress{
   height: 8px;
   border-radius: 10px;
}
.progress-bar{
   background-color: #7368f0;
   width: 25%;
   border-radius: 10px;
}

.alert-icon{
   color: white;
   background-color: #ff9f43;
}

.vx-pill{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1em 1.5em;
   height: 15px;
   color:#7367f0;
   background-color: #e9e7fd;
   border-radius: 50vmax;
}

.bg-paycards{
   background-color: #f3f2f3;
}