/* Using position: fixed for a static sidebar and navbar */
.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   width: 250px;
   height: 100vh;
   border: 1px solid #abaab2;
}

article {
    width: 80vw;
    height: 100vh;
    margin-left: 20vw;
}

.nav-container{
   position: fixed;
   top: 0;
   left: 250px;
   width: calc(100% - 250px);
   height: 80px;
   background-color: white;
   padding: 1.5% 4%;
}


