@import 'variables';

@mixin accent-btn{
    color: #444150;
    border-radius: 7px;
    padding: 0.5em 2em;
    background-color: transparent;
    &:hover{
       background-color: #e9e7fd; 
       color: #7368f0;
    }
    &:active{
        background-color: #7368f0;
        color: white;
    }
}

.accent-btn{
    @include accent-btn();
    text-transform: capitalize;
}

.accent-btn:hover i{
    color: #7368f0;
}
.accent-btn:active i{
    color: white;
}


@mixin primary-btn{
    color: #444150;
    padding: 1em 2em;
    transition: 0.3ms ease-in-out;
    &:hover{ 
       color: #7368f0;
    }
}

@mixin secondary-btn{
    color: #444150;
    border-radius: 5px;
    &:hover{
       background-color: #efeef0; 
    }
    &:active{
        background-color: #7368f0;
        color: white;
    }
}

.secondary-btn:active i{
    color: white;
}

.secondary-btn{
    @include secondary-btn();
    text-transform: capitalize;
}

@mixin nav-icon{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   padding: 15%;
   margin: 0.5em;
   &:hover{
       background-color: #efeef0; 
   }
   &:active{
        background-color: #7368f0;
        color: white;
   }

}

.nav-icon{
   @include nav-icon();
}

@mixin input-box {
    color: #abaab2;
    border-radius: 7px;
    padding: 0.5rem 1rem;
    border: 1px solid #abaab2;
    outline: 2.4px solid transparent;
    outline-offset: -2px;
    transition:0.3s ease-in-out;
    &:hover {
        border: 1.5px solid #6e6b77;
    }
    &:focus {
        outline: 2.4px solid #7368f0;
        outline-offset: -2px;
        box-shadow: 0px 0px 10px #7368f08d;
    }
}

.input-box {
    @include input-box();
    text-transform: capitalize;
}

@mixin row-center-flex{
   display: flex;
   justify-content: center;
   align-items: center;
}

.row-items-center{
    @include row-center-flex();
}

@mixin col-center-flex{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.col-items-center{
    @include col-center-flex();
}
