@import url(C:Users\a mans\d ownloadstabler-icons-3.35.0.ziptabler-icons-3.35.0icons\f illed);
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444150;
}

a {
  text-decoration: none;
  color: black;
}

*::after,
*::backdrop {
  box-sizing: border-box;
}

.font-size-1 {
  font-size: 0.5em;
}

.font-size-2 {
  font-size: 1em;
}

.font-size-3 {
  font-size: 1.5em;
}

.font-size-4 {
  font-size: 2em;
}

.font-size-5 {
  font-size: 2.5em;
}

.font-size-6 {
  font-size: 3em;
}

.font-size-7 {
  font-size: 3.5em;
}

.font-size-8 {
  font-size: 4em;
}

.font-size-9 {
  font-size: 4.5em;
}

.font-size-10 {
  font-size: 5em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.color-primary {
  color: #7368f0;
}

.color-secondary {
  color: #444150;
}

.color-neutral-100 {
  color: #d1d1d4;
}

.color-neutral-200 {
  color: #abaab2;
}

.color-neutral-300 {
  color: #818390;
}

.color-neutral-400 {
  color: #6e6b77;
}

.bg-color-accent {
  color: #7368f0;
}

.bg-color-primary {
  color: #efeef0;
}

.bg-color-secondary {
  color: #e8e7fd;
}

.bg-color-hover-bg-clr {
  color: #685dd8;
}

.heading-h1 {
  font-size: 0.5;
}

.heading-h2 {
  font-size: 1;
}

.heading-h3 {
  font-size: 1.5;
}

.heading-h4 {
  font-size: 2;
}

.heading-h5 {
  font-size: 2.5;
}

.heading-h6 {
  font-size: 3;
}

.font-size-1 {
  font-size: 0.5em;
}

.font-size-2 {
  font-size: 1em;
}

.font-size-3 {
  font-size: 1.5em;
}

.font-size-4 {
  font-size: 2em;
}

.font-size-5 {
  font-size: 2.5em;
}

.font-size-6 {
  font-size: 3em;
}

.font-size-7 {
  font-size: 3.5em;
}

.font-size-8 {
  font-size: 4em;
}

.font-size-9 {
  font-size: 4.5em;
}

.font-size-10 {
  font-size: 5em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.color-primary {
  color: #7368f0;
}

.color-secondary {
  color: #444150;
}

.color-neutral-100 {
  color: #d1d1d4;
}

.color-neutral-200 {
  color: #abaab2;
}

.color-neutral-300 {
  color: #818390;
}

.color-neutral-400 {
  color: #6e6b77;
}

.bg-color-accent {
  color: #7368f0;
}

.bg-color-primary {
  color: #efeef0;
}

.bg-color-secondary {
  color: #e8e7fd;
}

.bg-color-hover-bg-clr {
  color: #685dd8;
}

.heading-h1 {
  font-size: 0.5;
}

.heading-h2 {
  font-size: 1;
}

.heading-h3 {
  font-size: 1.5;
}

.heading-h4 {
  font-size: 2;
}

.heading-h5 {
  font-size: 2.5;
}

.heading-h6 {
  font-size: 3;
}

.accent-btn {
  color: #444150;
  border-radius: 10px;
  padding: 0.5em 2em;
  text-transform: capitalize;
}
.accent-btn:hover {
  background-color: #efeef0;
  color: #7368f0;
}
.accent-btn:active {
  background-color: #7368f0;
  color: white;
}

.secondary-btn {
  color: #444150;
  border-radius: 5px;
  padding: 0.5em 1em;
  text-transform: capitalize;
}
.secondary-btn:hover {
  background-color: #efeef0;
}
.secondary-btn:active {
  background-color: #7368f0;
  color: white;
}

.nav-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 15%;
  margin: 0.5em;
}
.nav-icon:hover {
  background-color: #efeef0;
}
.nav-icon:active {
  background-color: #7368f0;
  color: white;
}

.input-box {
  color: #abaab2;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid #abaab2;
  outline: none;
  text-transform: capitalize;
}
.input-box:hover {
  border: 1.5px solid #6e6b77;
}
.input-box:focus {
  transition: 0.5s ease-in-out;
  border: 2px solid #7368f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.293);
}

.row-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-items-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Using position: fixed for a static sidebar and navbar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  border: 1px solid #abaab2;
}

article {
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  height: 80px;
  background-color: white;
  padding: 1.5% 4%;
}/*# sourceMappingURL=index.css.map */