@import url(C:Users\a mans\d ownloadstabler-icons-3.35.0.ziptabler-icons-3.35.0icons\f illed);
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  color: #444150;
}
* ::after,
* ::before {
  box-sizing: border-box;
}

li,
li * {
  list-style: none;
}

a {
  text-decoration: none;
  color: #444150;
}

*::after,
*::backdrop {
  box-sizing: border-box;
}

.vx-fs-1 {
  font-size: 0.5em;
}

.vx-fs-2 {
  font-size: 1em;
}

.vx-fs-3 {
  font-size: 1.5em;
}

.vx-fs-4 {
  font-size: 2em;
}

.vx-fs-5 {
  font-size: 2.5em;
}

.vx-fs-6 {
  font-size: 3em;
}

.vx-fs-7 {
  font-size: 3.5em;
}

.vx-fs-8 {
  font-size: 4em;
}

.vx-fs-9 {
  font-size: 4.5em;
}

.vx-fs-10 {
  font-size: 5em;
}

.vx-fw-100 {
  font-weight: 100;
}

.vx-fw-200 {
  font-weight: 200;
}

.vx-fw-300 {
  font-weight: 300;
}

.vx-fw-400 {
  font-weight: 400;
}

.vx-fw-500 {
  font-weight: 500;
}

.vx-fw-600 {
  font-weight: 600;
}

.vx-fw-700 {
  font-weight: 700;
}

.vx-fw-800 {
  font-weight: 800;
}

.color-primary {
  color: #7368f0;
}

.color-secondary {
  color: #444150;
}

.color-neutral-100 {
  color: #d1d1d4;
}

.color-neutral-200 {
  color: #abaab2;
}

.color-neutral-300 {
  color: #818390;
}

.color-neutral-400 {
  color: #6e6b77;
}

.bg-color-accent {
  color: #7368f0;
}

.bg-color-primary {
  color: #efeef0;
}

.bg-color-secondary {
  color: #e8e7fd;
}

.bg-color-hover-bg-clr {
  color: #685dd8;
}

.vx-heading-h1 {
  font-size: 0.5em;
}

.vx-heading-h2 {
  font-size: 1em;
}

.vx-heading-h3 {
  font-size: 1.5em;
}

.vx-heading-h4 {
  font-size: 2em;
}

.vx-heading-h5 {
  font-size: 2.5em;
}

.vx-heading-h6 {
  font-size: 3em;
}

.vx-fs-1 {
  font-size: 0.5em;
}

.vx-fs-2 {
  font-size: 1em;
}

.vx-fs-3 {
  font-size: 1.5em;
}

.vx-fs-4 {
  font-size: 2em;
}

.vx-fs-5 {
  font-size: 2.5em;
}

.vx-fs-6 {
  font-size: 3em;
}

.vx-fs-7 {
  font-size: 3.5em;
}

.vx-fs-8 {
  font-size: 4em;
}

.vx-fs-9 {
  font-size: 4.5em;
}

.vx-fs-10 {
  font-size: 5em;
}

.vx-fw-100 {
  font-weight: 100;
}

.vx-fw-200 {
  font-weight: 200;
}

.vx-fw-300 {
  font-weight: 300;
}

.vx-fw-400 {
  font-weight: 400;
}

.vx-fw-500 {
  font-weight: 500;
}

.vx-fw-600 {
  font-weight: 600;
}

.vx-fw-700 {
  font-weight: 700;
}

.vx-fw-800 {
  font-weight: 800;
}

.color-primary {
  color: #7368f0;
}

.color-secondary {
  color: #444150;
}

.color-neutral-100 {
  color: #d1d1d4;
}

.color-neutral-200 {
  color: #abaab2;
}

.color-neutral-300 {
  color: #818390;
}

.color-neutral-400 {
  color: #6e6b77;
}

.bg-color-accent {
  color: #7368f0;
}

.bg-color-primary {
  color: #efeef0;
}

.bg-color-secondary {
  color: #e8e7fd;
}

.bg-color-hover-bg-clr {
  color: #685dd8;
}

.vx-heading-h1 {
  font-size: 0.5em;
}

.vx-heading-h2 {
  font-size: 1em;
}

.vx-heading-h3 {
  font-size: 1.5em;
}

.vx-heading-h4 {
  font-size: 2em;
}

.vx-heading-h5 {
  font-size: 2.5em;
}

.vx-heading-h6 {
  font-size: 3em;
}

.accent-btn {
  color: #444150;
  border-radius: 7px;
  padding: 0.5em 2em;
  background-color: transparent;
  text-transform: capitalize;
}
.accent-btn:hover {
  background-color: #e9e7fd;
  color: #7368f0;
}
.accent-btn:active {
  background-color: #7368f0;
  color: white;
}

.accent-btn:hover i {
  color: #7368f0;
}

.accent-btn:active i {
  color: white;
}

.secondary-btn:active i {
  color: white;
}

.secondary-btn {
  color: #444150;
  border-radius: 5px;
  text-transform: capitalize;
}
.secondary-btn:hover {
  background-color: #efeef0;
}
.secondary-btn:active {
  background-color: #7368f0;
  color: white;
}

.nav-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 15%;
  margin: 0.5em;
}
.nav-icon:hover {
  background-color: #efeef0;
}
.nav-icon:active {
  background-color: #7368f0;
  color: white;
}

.input-box {
  color: #abaab2;
  border-radius: 7px;
  padding: 0.5rem 1rem;
  border: 1px solid #abaab2;
  outline: 2.4px solid transparent;
  outline-offset: -2px;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}
.input-box:hover {
  border: 1.5px solid #6e6b77;
}
.input-box:focus {
  outline: 2.4px solid #7368f0;
  outline-offset: -2px;
  box-shadow: 0px 0px 10px rgba(115, 104, 240, 0.5529411765);
}

.row-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-items-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

aside {
  position: sticky;
  top: 0;
  width: 280px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #e5e7eb;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

@media (max-width: 1200px) {
  aside {
    position: fixed;
    transform: translateX(-265px);
    transition: transform 0.4s;
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.262);
  }
  .sidebar-container:hover aside {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
  }
}
.vx-fs-cus {
  font-size: 0.8em;
}

.vx-fs-cus-1 {
  font-size: 1.3em;
}

article {
  width: 100%;
  padding: 2% 5%;
}

section {
  width: 100%;
  border: 1px solid #abaab2;
  border-radius: 7px;
}

.navbar {
  height: 8vh;
  position: relative;
}

@media (max-width: 1000px) {
  .navbar {
    height: 27vh;
  }
  .navbar * {
    margin-bottom: 2%;
  }
}/*# sourceMappingURL=index.css.map */